:root {
    --darkest: #555555e2;
    --darker: #666666e2;
    --dark: #807f7fe2;
    --light: #F29E33e2;
}
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Poppins', sans-serif;
    
    color: white;
    user-select: none;
    -webkit-user-select: none;
    cursor: default;
}
html, body {
    height: 100%;
    background-image: url('./resources/background.svg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
main {
    background-color: rgba(0, 0, 0, 0.27);
    width: max-content;
    display: flex;
    flex-direction: column;
    gap: 1px;
}

.visor {
    border-radius: 5px 5px 0px 0px;
    background-color: var(--darkest);
    width: 275px;
    
    padding: 0px 10px;
    line-height: 55px;
    text-align: right;
    font-size: 3.1rem;
    
    font-weight: 200;
    display: flex;
    justify-content: end;
    align-items: center;
}
.row {
    display: flex;
    justify-content: space-between;
    gap: 1px;
}
.button, .button-large {
    font-size: 1.4rem;
    font-weight: 400;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    aspect-ratio: 4 / 3;
    flex: 1;
}
.button-large {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 2;
    padding: 1px;
    border-bottom-left-radius: 5px;
}
.light:nth-of-type(3) {
    border-bottom-right-radius: 5px;
}

.light {
    background-color: var(--light);
}
.dark {
    background-color: var(--dark);
}
.darker {
    background-color: var(--darker);
}

.dark:active {
    background-color: rgb(182, 180, 180);
}
.darker:active {
    background-color: rgb(130, 130, 130);
}
.light:active {
    background-color: rgb(214, 123, 0);
}